
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
    height: 100%;
}
#page-wrapper {
    min-height: 100%;
    min-width: 940px;
}
#header div.section,
#main,
#featured div.section,
#footer {
    width: 940px;
    margin: 0 auto;
}
#header {
	padding-top: 30px; 0 24px;
}
#header-left {
	width: 232px;
	float: left;
}
#header-middle {
	width: 380px;
	float: left;		
	background: url(../images/dots-grey-vert.gif) repeat-y right 2px;
}
.region-header {
	width: 324px;
    float: right; /* LTR */
}
#main-wrapper {
    min-height: 300px;
}
#content,
#sidebar-first,
#sidebar-second,
#content-left,
#content-right {
    display: inline;
    float: left; /* LTR */
    position: relative;
}
#content-below {
	clear: both;
}
.one-sidebar #content {
    width: 620px;
}
.two-sidebars #content {
    width: 390px;
	margin-right: 30px;
}
.two-sidebars #sidebar-first,
.one-sidebar #sidebar-first {
    width: 200px;
	margin-right: 30px;
}
.one-sidebar #sidebar-first,
.one-sidebar #sidebar-second,
.two-sidebars #sidebar-second {
    width: 290px;
}
.one-sidebar #sidebar-second {
	margin-left: 30px;
}
#content-left,
#content-right {
	width: 300px;
}
#content-left {
	margin-right: 20px;
}
#breadcrumb {
    margin: 0 15px;
}
#footer-wrapper {
    padding: 35px 5px 30px;
}
#footer {
    width: 940px;
}
