
/* ---------- Overall Specifications ---------- */
body {
  	line-height: 1.5;
  	font-size: 62.5%;
  	word-wrap: break-word;
  	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;
	background-color: #ffcd36;
	font-family: Arial, Helvetica, Sans-serif;
}
table.cke_editor body {
	background-color: #fff;
}
#main-wrapper p, 
#main-wrapper li,
#main-wrapper label,
#main-wrapper input,
.profile,
.field-name-field-tags,
.node-readmore-link,
.view-messages,
.view-members,
.node-blog .comment-content .username,
.node-blog .comment-content .time-ago,
.views-field-title,
.views-field-created,
.views-field-field-date-time,
.view-twitter-block .view-content,
.field-name-field-eventbrite-url a {
	font-size: 1.3em;
}
#main-wrapper .view-messages label,
#main-wrapper .view-messages p,
#main-wrapper .view-messages li,
#main-wrapper .view-messages input,
#main-wrapper .view-members label,
#main-wrapper .view-members p,
#main-wrapper .view-members li,
#main-wrapper .view-members input {
	font-size: 1em;
}
.views-field-created,
.views-field-field-date-time {
	font-style: italic;
}
a {
	color: #a8001c;
}
body,
h2 a,
.view-members tr a,
.faq-question a,
.blog-archive ul li a,
#footer li a  {
	color: #332f2d;
}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.15em;
}
h1 { 
	margin: 0;
}
h3.field-label {
	letter-spacing: 0;
}
h4 {
	margin: 0;
}
a:link,
a:visited {
  	text-decoration: none;
}
a:hover,
a:active,
a:focus {
  	text-decoration: underline;
}
h2,
.sub-title {
  	font-size: 1.8em;
	text-transform: uppercase;
	margin: 0;
  	background: url(../images/dots-on-white.png) repeat-x 0 bottom;
  	padding-bottom: 10px;
	text-align: center;
}
.content-block .no-border h2,
.sidebar .no-border h2,
#comments h2 {
	background: none;
}
h2.invisible,
.view-messages #comments h2 {
	font-size: none;
	display: none;
	visibility: hidden;
	border-bottom: 0 none;
	padding: 0;
}
h3 {
	margin: 0 0 12px 0;
}
p {
  margin: 0 0 8px 0;
}
del {
  text-decoration: line-through;
}
img {
  outline: 0;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}
.yellow {
	color: #ffcd36;
	font-weight: bold;
}
.left {
	float: left;
}
.right {
	float: right;
}
.btn,
.btn-dark,
.node-webform input.form-submit, 
.node-webform a.button,
#block-system-user-menu .menu a,
input.form-submit,
a.button,
.field-name-field-eventbrite-url a {
	display: block;
	padding: 4px 6px 4px 30px;
	margin: 20px auto;
	background: #f5f2f0 url(../images/arrow-white.png) no-repeat 6px center;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
  	border-radius: 4px; /* CSS3 */
	color: #332f2d;
	border: 0 none;
	-webkit-appearance: none;
}
.btn-dark,
.node-webform input.form-submit, 
.node-webform a.button,
input.form-submit,
a.button,
.field-name-field-eventbrite-url a {
	background: #807a77 url(../images/arrow-grey.png) no-repeat 6px center;
	color: #fff;
}
.node-webform input.form-submit, 
.node-webform a.button {
	float: left;
}
.relative .btn,
.relative .btn-dark {
	margin: 0;
	position: absolute;
	bottom: 24px;
	left: 24px;
}
/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  width: 100%;
}
tbody {
	border-top: 0 none;
}
table table {
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  text-align: left; /* LTR */
}
.view-members tbody tr {
	background: transparent url(../images/dots-on-white.png) repeat-x 0 top;
	border-bottom: 0 none;
}
.view-members thead th {
	border: 0 none;
}
.view-members thead tr {
	border-top: 0 none;
	color: grey;
}
.view-members tbody tr td {
	padding: 12px 12px 8px 12px;
}
.view-members .user-picture a {
	display: block;
}
/*.node-blog table.cke_editor {
	width: 322px;
}*/
.cke_edit-comment-body-und-0-value {
	width: 320px;
}
/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
 	padding: 0;
	list-style: disc outside none;
	margin: 0 0 0 18px;
}
.contextual-links-wrapper {
  font-size: 1em !important;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: ;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; /* LTR */
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; /* LTR */
}
ul.tips {
  padding: 0 0 0 1.25em; /* LTR */
}
li {
	margin-bottom: 6px;
}


/* ------------------ Header ------------------ */
#logo {
	width: 184px;
	height: 85px;
	padding: 22px 0 0 20px;
    float: left; /* LTR */
	margin-right: 70px;
}
/* User Login block in the header region */
#block-user-login {
	padding-left: 30px;
}
#login-form-title {
	font-size: 1.2em;
}
#user-login-block-container .form-actions {
	margin: 0;
	padding: 0;
}
#block-user-login .form-item {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#user-login-block-container input {
	width: 116px;
	margin-right: 6px;
	padding: 8px 4px;
	border: 0 none;
}
#user-login-block-container input.form-submit {
	width: 30px;
	height: 30px;
	float: left;
	background: url(../images/login-btn.png) no-repeat 0 0;
	border: 0 none;
	text-indent: -8765px;
	font-size: 0;
	line-height: 0;
	-khtml-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#user-login-block-container .item-list {
	clear: both;
}
#user-login-block-container .item-list ul,
#footer ul {
	list-style: none outside none;	
	margin: 0;
	padding: 0;
}
#footer p.copyright {
	color: #ac8a29;
	margin-top: 6px;
}
.credit {
	font-size: 0.8em !important;
	margin-top: 36px;
}
/* user menu */
#block-system-user-menu {
	width: 280px;
	position: absolute;
	right: 0;
	top: -20px;
	background-color: #dab034;
	border: 5px solid #f1c33a;
	border-width: 0 5px 5px 5px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; /* CSS3 */
	border-bottom-left-radius: 10px; /* CSS3 */
}
#block-system-user-menu h2 {
	padding-bottom: 0;
	text-transform: none;
	background: 0 none;
}
#block-system-user-menu ul.menu {
	margin: 0 0 10px 15px;
}
#block-system-user-menu ul.menu li {
	list-style: none outside none;
	float: left;
	padding: 0;
	margin: 0 10px 10px 0;	
}
#block-system-user-menu ul.menu a {
	width: 84px;
	margin: 0;
	float: left;
	font-size: 1.4em;
}


/* --------------- Main Menu ------------ */
#navigation {
	width: 300px;
	padding: 12px 0 0 38px;
	float: left;
	font-size: 1.6em;
	background: url(../images/dots-grey-vert.png) repeat-y 1px 3px;
}
#main-menu {
  	overflow: hidden;
}
#main-menu li {
	width: 150px;
    float: left; /* LTR */
	padding: 0;
    list-style: none;
    margin: 0 0 6px 0;
}
#main-menu a {
	display: block;
	padding-left: 30px;
	background: url(../images/nav-off.png) no-repeat 0 0; 
	color: #332f2d;
}
#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active,
#main-menu li a.active {
	background: url(../images/nav-on.png) no-repeat 0 0; 
}


/* ------------------- Main ------------------- */
#main {
  	background: url(../images/dots-grey.png) repeat-x 0 top;
	padding-top: 30px;
}
.node-page .field-name-body,
.node .webform-client-form,
.sidebar .block,
.node-blog,
.node-event,
.faq-content,
.content-block .block,
.region-content .block-block,
.node-message,
.view-members,
.profile,
#block-formblock-message,
.partner-block .views-row  {
 	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	border-radius: 10px; /* CSS3 */
	padding: 12px 24px;
  	margin: 0 0 20px;
}
.profile {
	padding-bottom: 36px;
}
.front .node-page .field-name-body,
#webform-client-form-41,
.content-block .no-border,
.sidebar .no-border {
	-moz-border-radius: 0; 
	-webkit-border-radius: 0; 
	border-radius: 0; 
	padding: 0;
  	margin: 0;
    border: 0 none;
}
.content-block .no-border {
	margin: 0 0 20px !important;
}
/* ------------------- Footer ------------------- */
#footer {
	padding: 20px 0;
	font-size: 1.4em;
	font-weight: bold;
	background: url(../images/dots-grey.png) repeat-x 0 top;
}
#footer div.section {
	height: 165px;
	background: url(../images/footer-graphic.png) no-repeat right 0;
}
#footer li {
	display: inline;
	float: left;
}
#partners-link {
	height: 51px;
	width: 230px;
	margin: 12px 0;
	display: block;
	background: url(../images/hp-partners.png) no-repeat 0 0;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */
#homepage-content {
	height: 207px;
	background: url(../images/dots-grey.png) repeat-x 8px bottom;
	padding-bottom: 22px;
	position: relative;
}
#homepage-content .node {
	padding-right: 320px;
	background: url(../images/hp-map.png) no-repeat right center;
}
.location-link {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
}
#homepage-content .london-link {
	right: 167px;
	top: 68px;
}
#homepage-content .riga-link {
	right: 112px;
	top: 62px;
}
#homepage-content .prague-link {
	right: 83px;
	top: 75px;
}
.content {
	overflow: hidden;
}
.content,
.field-name-comment-body {
	margin-top: 10px;
}
#homepage-content .content,
#footer .content {
	margin-top: 0;
}
.field-name-field-icon {
	height: 60px;
	text-align: center;
}
h1,
span.blog-title,
span.event-title,
span.profile-title {
	font-size: ;
	display: block;
	text-transform: uppercase;
	text-align: center;
}
h1#pagetitle,
h1.title,
span.blog-title,
span.event-title,
span.profile-title {
	font-size: 3em;
	padding: 6px 0 16px;
	background: url(../images/dots-grey.png) repeat-x 0 bottom;
}
.profile .sub-title {
	font-size: 1.4em;
	padding-bottom: 12px;
}
.profile h3 {
	font-size: 0;
	line-height: 0;
	display: none;
	visibility: hidden;
	border: 0 none;
}
.profile h3.field-label {
	display: inline;
	visibility: visible;
}
.profile dl {
	width: 442px;
	float: right;
	margin: 24px 0 20px 0;
}
.profile #crm-container .crm-section .label, 
.profile .crm-section .label {
	width: 124px;
	text-align: left;
}
.profile #crm-container .crm-section .content, 
.profile .crm-section .content {
	width: 250px;
	float: left;
	text-align: left;
	margin: 0 0 0 24px;
}
.profile .field-name-field-interests {
	clear: both;
	padding: 12px 0;
	background: url(../images/dots-on-white.png) repeat-x 0 top;
}
#content h2 {
  margin-bottom: 2px;
}
.node-page .field-name-body,
.node .webform-client-form,
.node-blog,
.node-event,
.faq-content,
.content-block .block,
.sidebar .block,
.region-content .block-block,
.node-message,
.view-members,
.profile,
#block-formblock-message {
	background-color: #f5f2f0;	
	border: 5px solid #d9bc6c;
}
.front .node-page .field-name-body,
.sidebar .block .node .webform-client-form,
.content-block .no-border,
.sidebar .no-border {
	background-color: transparent;
	border: 0 none;
	padding: 0;
	margin: 0;
}
.faq-content {
	text-align: center;
	padding-bottom: 24px;
}
.faq-question {
	padding: 8px 0;
	text-transform: uppercase;
	background: url(../images/dots-on-white.png) repeat-x 0 bottom;
	font-size: 1.5em;
}
.faq-question a {
	display: block;
	width: 100%;
	height: 28px;
	line-height: 30px;
	background: url(../images/faq-plus.gif) no-repeat right center;
}
.faq-qa-visible a {
	background: url(../images/faq-minus.gif) no-repeat right center;
}
.faq-answer {
	padding: 12px 0;
}
.node-message {
	padding-top: 24px;
}
.view-messages .user-picture {
	width: 100px;
	float: left;
}
.view-messages .message-right {
	width: 442px;
	float: right;
	margin: 0 0 20px 20px;
}
.message-labels {
	margin-top: 24px;
}
.time-ago {
	color: #b5b5b5;
	margin: 8px 0;
}
.message-author {
	font-weight: bold;
}
.blog-author, 
.blog-date {
	color: #b5b5b5;
	text-align: center;
	text-transform: uppercase;
}
.blog-author {
	margin-bottom: 12px;
}
.field-name-field-intro,
#main-wrapper .view-events .view-header p {
	text-align: center;
	padding: 16px 16px 32px 16px;
	font-size: 2.4em;
}
.front #main-wrapper .view-events .view-header p,
.front .block .view-blog .view-header p,
.front .view-twitter-block .view-header p {
	padding: 0;
	margin: 0;
}
.front .field-name-field-intro {
	font-weight: bold;
}
.node-teaser {
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.partner-block {
	padding-top: 24px;
	background: url(../images/dots-grey.png) repeat-x 0 top;
}
.partner-block .views-row {
	width: 142px;
	margin-right: 10px;
	float: left;
	border: 5px solid #F1C33A;
	text-align: center;
	background-color: #DAB034;
}
.partner-block .views-row-3,
.partner-block .views-row-6,
.partner-block .views-row-9 {
	margin-right: 0;
}
.partner-block h2 {
	background: none;
}
.partner-block h4 {
	height: 45px;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 12px;
	padding-bottom: 6px;
	background: url(../images/dots-on-yellow.png) repeat-x 0 bottom;
}

/* ----------------- Blocks ----------------- */
.height-240 {
	height: 240px;
}
.relative {
	position: relative;
	padding-bottom: 60px !important;
}
.available {
	border: 5px solid #a8001c !important;
}
.grey-text {
	color: #B5B5B5;
}
#block-views-events-block-1 {
	height: 540px;
	position: relative;
	overflow: hidden;
}
#hp-right {
	height: 594px;
	position: relative;
	overflow: hidden;
}
#block-views-events-block-1 .views-row {
	height: 100px;
	margin-bottom: 12px;
	padding-bottom: 12px;
	background: url(../images/dots-on-white.png) repeat-x 0 bottom;
	overflow: hidden;
}
#block-views-events-block-1 .views-row .views-field-title {
	font-weight: bold;
}
#block-views-events-block-1 .btn-dark {
	position: absolute;
	bottom: 20px;
	left: 94px;
}
#block-views-blog-block-1 {
	height: 276px;
	overflow: hidden;
}
#block-views-twitter-block-block {
	height: 210px;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}
#block-th-messages-tag ul,
#block-th-messages-category ul {
	list-style: none outside none;	
	margin: 0;
	padding: 0;
}
#block-th-messages-tag .content li,
#block-th-messages-category .content li,
.latest-block .content li {
	display: inline;
	float: left;
	margin-right: 6px;
}
#block-th-messages-tag .content li a,
#block-th-messages-category .content li a,
.latest-block .content li a {
	display: block;
	padding: 3px 6px;
	color: #332F2D;
	background-color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    -khtml-border-radius: 5px; 	  
	border-radius: 5px;
}
#block-th-messages-tag .content li a.active,
#block-th-messages-category .content li a.active {
	background-color: #a8001c;
	color: #fff;
}
.latest-block .content li a {
	background-color: #fff;
	color: #332F2D;
	/*padding: 6px;*/
}
.latest-block .content li a:hover,
.latest-block .content li.active a {
	background-color: #A8001C;
	color: #fff;
	text-decoration: none;
}
.latest-block a.btn {
	margin: 20px 0;
	float: left;
}
.node-type-yellow .contact-block {
	margin-top: 24px;
}
.contact-block .contact-address {
	width: 140px;
	margin: 0 20px;
}
.contact-block .contact-deets p {
	height: 30px;
	margin-bottom: 4px;
	padding-left: 36px;
	line-height: 30px;
}
.contact-block .contact-tel {
	background: url(../images/contact-tel.png) no-repeat 0 center;
}
.contact-block .contact-email {
	background: url(../images/contact-email.png) no-repeat 0 center;
}
.contact-block .contact-twitter {
	background: url(../images/contact-twitter.png) no-repeat 0 center;
}
#block-views-set-up-a-techhub-block,
.locations-map-block {
	height: 530px;
	position: relative;
	overflow: hidden;
}
.locations-map-block .content ul {
	margin: 24px 0 34px 0;
	padding: 0;
	background: url(../images/dots-on-white.png) repeat-x 0 top;
}
.locations-map-block .content ul li {
	list-style: none outside none;
	margin: 0;
	padding: 4px 0;
	background: url(../images/dots-on-white.png) repeat-x 0 bottom;
}
.locations-map-block .content ul li a {
	display: block;
	padding: 6px 0 6px 30px;
	color: #332F2D;
	background: #F5F2F0 url(../images/arrow-white.png) no-repeat 6px center;
}
.locations-map-block .location-link {
	text-indent: -8765px;
	font-size: 0;
	line-height: 0;
}
.locations-map-block .london-link {
	right: 158px;
	bottom: 132px;
}
.locations-map-block .riga-link {
	right: 112px;
	bottom: 137px;
}
.locations-map-block .prague-link {
	right: 88px;
	bottom: 127px;
}
.latest-block ul {
	margin: 0;
	padding: 0;
}
#quicktabs-container-latest {
	clear: left;
	padding-top: 20px;
}
.blog-archive ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
/* ----------------- Comments ----------------- */
.view-messages #comments {
	clear: both;
	padding: 20px 0;
	margin-left: 120px;
}
.view-messages #comments .comment-form {
	padding-top: 20px;
	background: url(../images/dots-on-white.png) repeat-x 0 top;	
}
.view-messages .comment-content {
	width: 322px;
	margin-left: 20px;
	float: right;
}
.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  	padding: 20px 0;
	background: url(../images/dots-on-white.png) repeat-x 0 top;
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 10px;
}
/*.sidebar .block .content,.content-block .content*/
.block .content,
ul.tabs {
	font-size: ;
}
.sidebar .grey-block {
	color: #fff;
	background-color: #66605d;
	border: 5px solid #ae944c;
}
.sidebar .yellow-block {
	border: 5px solid #F1C33A;
	background-color: #DAB034;
}
.yellow-block h2 {
	background: url(../images/dots-on-yellow.png) repeat-x 0 bottom;;
}
.membership-block h2,
.latest-block h2 {
	padding-top: 48px;
	background: url(../images/icon-star-small.png) no-repeat center 0;	
}
.latest-block h2 {
	background-image: url(../images/icon-lightning-small.png);
}
.membership-block .content ul {
	list-style: disc outside url(../images/bullet-star.png);
	margin-left: 24px;
}
.membership-block a {
	color: #fff;
}
.membership-block a.btn {
	width: 150px;
	color: #332f2d;
}
#block-block-14 a.btn-dark {
	width: 70px;
}
#block-views-events-block-1 a.btn-dark,
#block-views-twitter-block-block a.btn-dark,
.partners-block-hp a.btn-dark {
	width: 52px;
}
.partners-block-hp {
	text-align: center;
	background: url(../images/dots-grey.png) repeat-x 0 0;
}
#block-views-blog-block-1 a.btn-dark {
	width: 40px;
	margin: 12px auto;
}
#block-views-twitter-block-block a.btn-dark {
	margin: 12px auto;
}
/*.view-events .node-teaser a.btn-dark {
	width: 46px;
}*/
.field-name-field-eventbrite-url a {
	width: 46px;
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #332f2d;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* ---------------- Messages  ----------------- */
.page-messages #block-formblock-message form.node-message-form div.vertical-tabs {
	display: none;
	visibility: hidden;
}
#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
	margin: 20px auto;
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
  	border-radius: 10px;
	font-size: 1.3em;
}

/* -------------- User Profile   -------------- */

.profile .user-picture {
	width: 100px;
	margin: 24px 20px 20px 0;
  	float: left;
}

/* -------------- Password Meter  ------------- */

.confirm-parent,
.password-parent {
  width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: ;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ---------------- Buttons    ---------------- */

/*input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #332f2d;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR 
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}*/
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #332f2d;
}

/* -------------- Form Elements   ------------- */
.node-webform form,
.form-actions {
	overflow: hidden;
}
.form-actions {
	margin-top: 24px;
}
fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #332f2d;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #332f2d;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #332f2d;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #332f2d;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
textarea {
  line-height: 1.5;
}
input.form-text,
textarea.form-textarea,
select.form-select,
input:-webkit-autofill {
  	border: 0 none;
	background-color: #e6e6e6 !important;
}
input.form-text,
textarea.form-textarea {
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
  	border-radius: 4px; /* CSS3 */	
	padding: 4px;
}
/*input.form-text {
	width: 320px;
}*/
select.form-select {
	margin-right: 5px;
}
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/*.node-webform .resizable-textarea .grippie {
	width: 95%;
}*/

/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* Comment form */
.comment-form label {
  float: left; /* LTR */
  width: 120px;
}
/*.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}*/
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; /* LTR */
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  margin-left: 120px; /* LTR */
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; /* LTR */
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}

/* --------------- Search Form ---------------- */

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: none;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; /* LTR */
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
  margin-right: 15px; /* LTR */
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #332f2d;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

